.productContainer img {
  width: 35vw;
  height: 35vh;
  padding: 2vmax;
}
.productContainer .review {
  font-size: 1.2vmax;
  font-weight: 600;
}
.productContainer .name {
  font-size: 1.3vmax;
  margin-top: -1vmax;
}
.productContainer p {
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
}
.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.productContainer:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
