.line {
  height: 1.5px;
  width: 30vw;
  background-color: rgba(18, 17, 17, 0.689);
}
.sepratre {
  display: flex;
  height: 9vh;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}
p {
  text-align: center;
  margin-top: 12px;
  font-size: 2vmax;
  color: rgba(18, 17, 17, 0.689);
}
